<button value="Strona Główna" routerLink="">Strona Główna</button>
Edycja
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        ID
        <input id="id" type="number" formControlName="id" value="{{hero?.id}}" readonly>
    </div>
    <div>
        Nick
        <input id="nick" type="text" formControlName="nick" value="{{hero?.nick}}">
    </div>
    <div>
        IMG
        <input id="img" type="text" formControlName="img" value="{{hero?.img}}">
    </div>
    <div>
        Profesja
        <input id="prof" type="text" formControlName="prof" value="{{hero?.prof}}"> 
    </div>
    <button type="submit">Edytuj</button>
</form>