<button (click)="downloadCSV()" class="btn-default">Download CSV</button>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <span>
      <label for="sort">Sortuj:</label>
      <select name="Sortowanie" id="sort" formControlName="sort">
        <option value="profasc">Profesja rosnąco</option>
        <option value="profdesc">Profesja malejąco</option>
        <option value="nickasc">Nick rosnąco</option>
        <option value="nickdesc">Nick malejąco</option>
      </select>
    </span>
    <span>
      <label for="filtr">Filtruj</label>
      <select name="Filtrowanie" id="filtr" formControlName="filtr">
        <option value="Wojownik">Wojownik</option>
        <option value="Sura">Sura</option>
        <option value="Ninja">Ninja</option>
        <option value="Szaman">Szaman</option>
      </select>
    </span>
    <input type="submit" value="Sotruj i filtruj"/>
  </form>
<br>
<table>
    <tr >
        <th class="row_h">Avatar</th>
        <th class="row_h">Nick</th>
        <th class="row_h">Profesja</th>
    </tr>
    <tr *ngFor="let her of heroes" class="row" [routerLink]="['/heroes', her.id]">
        <th class="row"><img [src]=her.img><br> <button *ngIf="role" [routerLink]="['/delete_hero', her.id]">X</button></th>
        <th class="row">{{her.nick}}</th>
        <th class="row">{{her.prof}}</th>
    </tr>
</table>