<button value="Strona Główna" routerLink="">Strona Główna</button><br>
Nowy
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        ID
        <input id="id" type="number" formControlName="id">
    </div>
    <div>
        Nick
        <input id="nick" type="text" formControlName="nick">
    </div>
    <div>
        IMG
        <select id="img" formControlName="img">
            <option value="../../assets/av1.jpg">Avatar 1 Wojownik</option>
            <option value="../../assets/av2.jpg">Avatar 2 Wojownik</option>
            <option value="../../assets/av3.jpg">Avatar 3 Ninja</option>
            <option value="../../assets/av4.jpg">Avatar 4 Sura</option>
            <option value="../../assets/av5.jpg">Avatar 5 Sura</option>
            <option value="../../assets/av6.jpg">Avatar 6 Szaman</option>
            <option value="../../assets/av7.jpg">Avatar 7 Wojownik</option>
            <option value="../../assets/av8.jpg">Avatar 8 Sura</option>
        </select>
    </div>
    <div>
        Profesja
        <select id="prof" formControlName="prof">
            <option value="Wojownik">Wojownik</option>
            <option value="Sura">Sura</option>
            <option value="Szaman">Szaman</option>
            <option value="Ninja">Ninja</option>
        </select>
    </div>
    <input type="submit" value="Dodaj"/>
</form>