<button value="Strona Główna" routerLink="">Strona Główna</button>
Nowy
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        ID
        <input id="id" type="number" formControlName="id">
    </div>
    <div>
        Nick
        <input id="nick" type="text" formControlName="nick">
    </div>
    <div>
        IMG
        <!-- <input id="img" type="text" formControlName="img"> -->
        <select id="img" formControlName="img">
            <option value="../../assets/av1.jpg">Av1</option>
            <option value="../../assets/av2.jpg">Av2</option>
            <option value="../../assets/av3.jpg">Av3</option>
            <option value="../../assets/av4.jpg">Av4</option>
            <option value="../../assets/av5.jpg">Av5</option>
            <option value="../../assets/av6.jpg">Av6</option>
            <option value="../../assets/av7.jpg">Av7</option>
            <option value="../../assets/av8.jpg">Av8</option>
        </select>
    </div>
    <div>
        Profesja
        <input id="prof" type="text" formControlName="prof"> 
    </div>
    <button type="submit">Dodaj</button>
</form>